.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  background-color: #fff;
  width: 27.8rem;
  height: 31.75rem;
  border-radius: 0.8rem;
  padding: 2rem 0;
  box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
}

.form-btn {
  cursor: pointer;
  background-color: var(--color-blue);
  color: #fff;
  border: none;
  width: 60%;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  border-radius: 1.75rem;
}

.form-btn:hover {
  background-color: var(--color-light-blue);
}
