.logo-container {
  margin-bottom: 9rem;
}

.header__container {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

.header__content {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  width: 36rem;
}

.header__content-heading {
  color: var(--color-warm-grey);
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 4rem;
}

.header__content-paragraph {
  color: var(--color-light-grey);
  font-weight: 400;
  font-size: 1.22rem;
  line-height: 1.75rem;
  margin: 2rem 0;
}

.header__content-btn {
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background-color: var(--color-blue);
  color: #fff;
  border: none;
  width: 10rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  border-radius: 1.75rem;
}

.header__content-btn:hover {
  background-color: var(--color-light-blue);
}

.header__charts {
  width: 45%;
}

@media only screen and (max-width: 1024px) {
  .header__content {
    width: 24rem;
  }
}

@media only screen and (max-width: 768px) {
  .logo-container {
    text-align: initial;
    margin-bottom: 5rem;
  }

  .header__content-heading {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .header__content-paragraph {
    font-size: 1rem;
    line-height: 1.625rem;
  }
}

@media only screen and (max-width: 640px) {
  .logo-container {
    text-align: center;
  }

  .header {
    text-align: center;
  }

  .header__container {
    flex-direction: column-reverse;
  }

  .header__content {
    text-align: center;
    width: initial;
  }

  .header__content-heading {
    font-size: 40px;
    line-height: 3rem;
  }

  .header__content-paragraph {
    font-size: 1rem;
    line-height: 26px;
  }

  .header__content-btn {
    align-self: center;
  }
}
