.card-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 9.5rem;
}

@media only screen and (max-width: 800px) {
  .card-list {
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
  }
}
